<app-header [cartCount]="cartBookCount"></app-header>
<div class="main-div">
  <div class="my-cart-div">
    <h2>My Cart({{cartBookList.length}})</h2>
    <div class="book-info" *ngFor="let cartBook of cartBookList ; let i = index" >
      <img [src]="cartBook.bookImg" alt="Not found" />
      <div class="details-div">
        <h2>{{cartBook.bookName}}</h2>
        <span>{{cartBook.authorName}}</span><br />
        <p><b>Rs.{{cartBook.price * userCart.quantity[i]}}</b></p>
        <div class="book-quantity-div">
          <button class="decrease-btn" (click)="decrease(cartBook.bookId)">-</button>
          <input class="quantity-box" type="text" disabled [value]="userCart.quantity[i]" />
          <button class="increase-btn" (click)="increase(cartBook.bookId)">+</button>
          <button class="remove-btn" (click)="removeBook(cartBook.bookId)">Remove</button>
        </div>
      </div>
    </div>
    <button mat-button class="place-order-btn"  (click)="placeOrder()">PLACE ORDER</button>
  </div>

  <div class="customer-opt-1" *ngIf="myCart == false">
    <h4>Customer Details</h4>
  </div>

  <div class="customer-opt-2" *ngIf="myCart == true">
    <div class="customer-form-div">
      <form class="customer-form">
        <h2>Customer Details</h2>
        <div class="input-row-div">
          <mat-form-field class="form-input-field-1" appearance="outline">
            <input matInput placeholder="Name" [(ngModel)]="userData.fullName" [ngModelOptions]="{standalone: true}"/>
          </mat-form-field>

          <mat-form-field class="form-input-field-2" appearance="outline">
            <input matInput placeholder="Phone number" [(ngModel)]="userData.mobileNumber" [ngModelOptions]="{standalone: true}"/>
          </mat-form-field>
        </div>
        <div class="input-row-div">
          <mat-form-field class="form-input-field-1" appearance="outline">
            <input matInput placeholder="Pin Code" [(ngModel)]="userPlaceOrder.pin" [ngModelOptions]="{standalone: true}"/>
          </mat-form-field>

          <mat-form-field class="form-input-field-2" appearance="outline">
            <input matInput placeholder="Locality" [(ngModel)]="userPlaceOrder.locality" [ngModelOptions]="{standalone: true}"/>
          </mat-form-field>
        </div>
        <div class="input-row-div-area">
          <mat-form-field class="form-text-area" appearance="outline">
            <textarea matInput placeholder="Address" [(ngModel)]="userPlaceOrder.address" [ngModelOptions]="{standalone: true}"></textarea>
          </mat-form-field>
        </div>

        <div class="input-row-div">
          <mat-form-field class="form-input-field-1" appearance="outline">
            <input matInput placeholder="City/Town" [(ngModel)]="userPlaceOrder.city" [ngModelOptions]="{standalone: true}" />
          </mat-form-field>

          <mat-form-field class="form-input-field-2" appearance="outline">
            <input matInput placeholder="Landmark" [(ngModel)]="userPlaceOrder.landmark" [ngModelOptions]="{standalone: true}"/>
          </mat-form-field>
        </div>

        <div class="input-row-div">
          <h3>Type</h3>
          <mat-radio-group aria-label="Select an option" [(ngModel)]="userPlaceOrder.type" [ngModelOptions]="{standalone: true}">
            <mat-radio-button class="type-radio-group" value="Home">Home</mat-radio-button>
            <mat-radio-button class="type-radio-group" value="Work">Work</mat-radio-button>
            <mat-radio-button class="type-radio-group" value="Other">Other</mat-radio-button>
          </mat-radio-group>
        </div>

        <button mat-button class="continue-btn" type="button"(click)="continue()">CONTINUE</button>
      </form>
    </div>
  </div>

  <div class="order-summery-opt-1" *ngIf="customerDetails == false">
    <h4>Order summary</h4>
  </div>

  <div class="order-summery-opt-2"  *ngIf="customerDetails == true">
    <div class="order-summary-div">
      <h2>Order summery</h2>
      <div class="book-info" *ngFor="let cartBook of cartBookList; let i = index">
        <img [src]="cartBook.bookImg" alt="Not found" />
        <div class="details-div">
          <h2>{{cartBook.bookName}}</h2>
          <span>{{cartBook.authorName}}</span><br />
          <p><b>Rs.{{cartBook.price * userCart.quantity[i]}}</b></p>
        </div>
      </div>
      <!-- <p><input type="text" disabled /></p> -->

      <button mat-button  class="check-out-btn" (click)="checkoutBtn()">CHECKOUT</button>
    </div>
  </div>
</div>
<!-- routerLink="/order-placed" -->
<app-footer></app-footer>
