<app-header [cartCount]="cartBookCount" (searchTextChanged)="onSearchTextEnterd($event)"></app-header>
<div>
   <div class="main-div">
    <div class="heading-div">
      <span class="books-heading">Books</span>
      <p>({{bookCount}}item)</p>
    </div>
    <div class="sort-div">
      <select class="sort-selector-field" [(ngModel)]="selectorValue"(click)="filterSelector(selectorValue)" >
        <option *ngFor="let sortBy of sortsBy" [value]="sortBy.value" >
          {{ sortBy.viewValue }}
        </option>
      </select>
    </div>
  </div>
      <div class="grid-list-div " >
        <mat-grid-list cols="4" rowHeight="1:1.2" colWidth ="1:1.2" gutterSize="2.3%">
          <div *ngFor="let book of bookList | paginate: {itemsPerPage: 8, currentPage: page}">
            <div *ngIf="searchText==='' || book.bookName.toLowerCase().includes(searchText.toLowerCase())" >
              <mat-grid-tile >
                <mat-grid-tile-header class="grid-header" matTooltip="{{book.bookDescription}}" matTooltipClass="tooltip" [matTooltipPosition]="'after'">
                  <img [src]="book.bookImg" alt="Notfound" />
                </mat-grid-tile-header>
                <mat-grid-tile-footer class="grid-footer">
                  <h2>{{book.bookName}}</h2>
                  <span>{{book.authorName}}</span><br />
                  <p><br /><b>Rs.{{book.price}}</b></p>
                  <div class="buttons">
                    <button class="add-cart-btn" *ngIf="bookIdList.includes(book.bookId)==false" (click)="addtoCartPushId(book.bookId,1)" mat-button>ADD TO BAG</button>
                    <button class="added-cart-btn" *ngIf="bookIdList.includes(book.bookId)==true" (click)="removeBook(book.bookId)" mat-button>ADDED TO BAG</button>
                    <button class="wish-list-btn" *ngIf="bookIdList.includes(book.bookId)==false" routerLink="/wishlist" mat-button>WISHLIST</button>
                  </div>
                </mat-grid-tile-footer>
              </mat-grid-tile>
            </div>
          </div>
        </mat-grid-list>
        <div class='paginator'>
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
      </div>
</div>
