<mat-toolbar class="header">
  <img routerLink="/dashboard" src="../../../assets/icon/education.svg" alt="Logo not found" />
  <span routerLink="/dashboard" > Book Store </span>
  <div class="form-div">
    <form class="search-input-box">
      <input class="search-input-box" type="search" placeholder="Search...">
    </form>
  </div>
  <div class="login-icon">
          <img routerLink="/login" src="../../../assets/icon/profileIcon.png" alt="Notfound">
  </div>
  <div class="cart-div">
    <img class="cart-icon" routerLink="/cart" src="../../../assets/icon/supermarket.svg" alt="Logo Not found" />
    <span class="cart-text" routerLink="/cart">Cart</span>
    <p class="cart-count">1</p>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
