<app-header></app-header>
<div class="main-div">
  <div class="my-cart-div">
    <div class="heading-div">
      <h2>My Wishlist({{userWishlistBookList.length}})</h2>
    </div>
    <div class="book-info" *ngFor="let book of userWishlistBookList ; let i = index" >
      <img [src]="book.bookImg" alt="Not found" />
      <div class="details-div">
        <h2>{{book.bookName}}</h2>
        <span>{{book.authorName}}</span><br />
        <p><b>Rs.{{book.price}}</b></p>
      </div>
      <div class="book-quantity-div">
        <mat-icon class="icon-st">delete</mat-icon>
      </div>
    </div>
  </div>
</div>
