.main-div {
  margin-top: 6%;
  .icon-div {
    margin: 4% 0% 0% 43%;
  }
  h1 {
    margin: -8% 0% 6% 36%;
  }
  .success-order-placed {
    margin: 0% 35% 2% 36%;
    text-align: center;
  }
  .contact-table {
    background: #fafafa 0% 0% no-repeat padding-box;
    border: 1px solid #dcdcdc;
    margin: 0% 20% 0% 25%;
    tr {
      background: #fafafa 0% 0% no-repeat padding-box;
      border: 1px solid #dcdcdc;
      th {
        background: #fafafa 0% 0% no-repeat padding-box;
      }
      td {
        background: #ffffff 0% 0% no-repeat padding-box;
        border: 1px solid #dcdcdc;
        height: 70px;
        text-align: center;
      }
    }
  }
}
